{% extends "base.html" %}

{% block content %}
<h3>Credentials</h3>
<p>By entering the following information, more data will be available to you
from the following sites.</p>
<form method="post">{% csrf_token %}
    <table>
    {{ form }}
    </table>
    <div>
        <input type="submit" name="save" value="Save" />
        <input type="submit" name="validate" value="Save and Validate" />
        <input type="hidden" name="next" value="{{ next }}" />
    </div>
</form>

<h3>Credentials Status</h3>
<p>The status of your credentials as entered and saved above:</p>
<table id="creds-status">
    <tr>
        <th>IBD</th>
        <td><span class="{{ ibd_status|slugify }}">{{ ibd_status }}</span></td>
    </tr>
    <tr>
        <th>Briefing.com</th>
        <td><span class="{{ briefing_status|slugify }}">{{ briefing_status }}</span></td>
    </tr>
</table>
{% endblock %}
