{% extends "base.html" %}
{% block menu-highlight %}settings{% endblock %}

{% block content %}
<h3>Credentials</h3>
<p>By entering the following information, more data will be available to you
from the following sites.</p>
<p><em>Important Note:</em> If you enter Briefing.com credentials here, you
will not be able to use both this site and Briefing.com at the same time due to
login restrictions put in place by their site. In order to present you with the
data here, we will force a logout of your account from any other computers.</p>
<form method="post">{% csrf_token %}
    <table>
    {{ form }}
    </table>
    <div>
        <input type="submit" name="validate" value="Save and Validate" />
    </div>
</form>

<h3>Credentials Status</h3>
<p>The status of your credentials is shown below. To refresh these statuses,
save the form above and a validation check will be run.</p>
<table id="creds-status">
    <tr>
        <th>IBD</th>
        <td><span class="{{ ibd_status|slugify }}">{{ ibd_status }}</span></td>
    </tr>
    <tr>
        <th>Briefing.com</th>
        <td><span class="{{ briefing_status|slugify }}">{{ briefing_status }}</span></td>
    </tr>
</table>
{% endblock %}
