{% extends "base.html" %}

{% block content %}
{% if not user.get_profile.ibd_user %}
<p class="message">Please fill out your <a href="/accounts/profile/">user
	profile</a> to ensure you can continue using the site.</p>
{% endif %}
{% include "reporter/build_list_form.html" %}

<div id="stockinfo">
{% for stock in stocks %}
<div class="stockframe">
<div class="stocklinks">
    <a href="#top">Back to top</a> |
    <a href="remove/{{ stock.ticker }}/">Remove</a>
</div>
<table class="stockdetails pretty">
    <thead></thead>
    <tbody>
        <td><strong>{{ stock.ticker }}</strong></td>
        <td>{{ stock.company_name|title }}</td>
        <td>{{ stock.ibd_industry_group|title }} [{{ stock.ibd_industry_rank }}]</td>
        <td>EPS</td><td>{{ stock.ibd_earnings_percentage_lastquarter }}</td>
        <td>Sales</td><td>{{ stock.ibd_sales_percentage_lastquarter }}</td>
        <td>Earnings</td><td>{{ stock.ibd_earnings_due_date }}</td>
        <td>Float</td><td>{{ stock.finviz_float }}</td>
    </tbody>
</table>

<table class="stocknews pretty">
    <tr>
        <th>Google</th>
        <th>MSN</th>
        <th>Yahoo</th>
    </tr>
    <tr>
        <td>
            <ul class="newsitems">
                {% for item in stock.google_news %}
                <li>
                    <p><a href={{item.link}}>{{item.title|safe}}</a> —
                    {{item.pub_date}} UTC —
                    {{item.description|removetags:'div br'|safe}}</p>
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul class="newsitems">
                {% for item in stock.msn_news %}
                <li>
                    <p><a href={{item.link}}>{{item.title}}</a> —
                    {{item.pub_date}} UTC —
                    {{item.description|safe}}</p>
                </li>
                {% endfor %}
            </ul>
        </td>
        <td>
            <ul class="newsitems">
                {% for item in stock.yahoo_news %}
                <li>
                    <p><a href={{item.link}}>{{item.title}}</a> —
                    {{item.pub_date}} UTC —
                    {{item.description|safe}}</p>
                </li>
                {% endfor %}
            </ul>
        </td>
    </tr>
</table>
</div>
{% endfor %}
</div>

{% endblock %}
