body {
    background:url(/static/images/header_backgr.jpg) repeat-x;
    height:40px;
    margin:0;
    padding:0
}

/* primary styles, not class/id specific */
table {
    border-collapse: collapse;
    margin: 0.5em;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix{display:block;}

.header {
    width:960px;
    height:40px;
    margin-left:auto;
    margin-right:auto;
}

.header .logo {
    background:url(/static/images/logo.jpg) no-repeat;
    float:left;
    width:180px;
    height:40px;
}

.header .menu {
    height:40px;
    position:relative;
}

.header .menu-left { float:left; }
.header .menu-right { float:right; }

.header .menu ul {
    background:url(/static/images/button_a.jpg) no-repeat top right;
    list-style-type:none;
    margin:0;
    padding:0 3px 0 0;
    height:40px;
}

.header .menu li {
	display:block;
	float:left;
}

.header .menu a {
    text-decoration:none;
}

.header .menu a span {
    background:url(/static/images/button_a.jpg) no-repeat top left;
    font-family:"Times New Roman",times,serif;
    font-size:16px;
    font-weight:bold;
    color:#ffffff;
    padding:11px 8px 5px 12px;
    position:relative; /*To fix IE6 problem (not displaying)*/
    float:left;
    height:24px;
}

.header .menu a:hover span {
    background:url(/static/images/button_h.jpg) no-repeat top left;
    color:#444444;
}

/* if there is a class on the ul element, something will get highlighted */
.header .news a span.news,
.header .settings a span.settings,
.header .logout a span.logout,
.header .register a span.register,
.header .login a span.login
{
    background:url(/static/images/button_c.jpg) no-repeat top left;
    color:#ffffff;
}
.header .news a:hover span.news,
.header .settings a:hover span.settings,
.header .logout a:hover span.logout,
.header .register a:hover span.register,
.header .login a:hover span.login
{
    background:url(/static/images/button_h.jpg) no-repeat top left;
    color:#444444;
}


a.button {
  text-decoration: none;
  background: #abd;
  color: #333;
  display: block;
  float: right;
  border: 1px solid #79a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  font-weight: normal;
  margin: 5px 0;
}

a.button:hover {
  text-decoration: none;
  background: #bde;
}

#symbolsform, #maincontent, #mainfooter {
    border-bottom: 2px solid;
    margin-bottom: 0.5em;
}

#maincontent {
    padding-top: 1em;
    padding-left: 3em;
    padding-right: 3em;
}

.message {
    color: #c00000;
}

#symbolsform #id_symbols {
    width: 40em;
    height: 5em;
}

table.pretty {
    background-color: #00ff00;
}

table.pretty th, table.pretty td {
    border: 1px solid #999999;
}

.stockframe {
    border: 1px solid #c9c9c9;
    padding: auto;
    margin-bottom: 0.5em;
}

.stockframe .stocklinks {
    float: right;
    margin: 0.5em 1em 0 0;
}

table.stockdetails {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

table.stocknews {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}

table.stocknews th {
    width: 33%;
}

table.stocknews td {
    vertical-align: top;
}

table.stocknews .newsitems {
    text-align: left;
    padding-left: 20px;
}

div.comments, div.commentform {
    font-size: 0.8em;
}

div.commentform label {
    display:block;
}

#maincontent #outer_container {
  width: 560px;
}

#maincontent #aggregates_container .aggregate {
  clear: both;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#maincontent #aggregates_container .aggregate .content {
  width: 390px;
  float: right;
}

#maincontent #aggregates_container .aggregate .meta {
  float: left;
  width: 150px;
  font-size: 11px;
  margin-left: 10px;
}

#maincontent #aggregates_container .aggregate .meta .gravatar {
  margin: 0 10px 0 0;
  float: left;
  border: 1px solid #eee;
}

#maincontent #aggregates_container .aggregate .meta .age,
#maincontent #aggregates_container .aggregate .meta .author {
  width: 96px;
  margin-right: 10px;
  float: left;
}

#maincontent #aggregates_container .aggregate.highlight {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  background: #d5dae5;
  border-bottom: none;
}

#maincontent #aggregates_container .aggregate.aggregate_alert {
  background: #fee;
}

.tweet_container form textarea {
  height: 70px;
  width: 548px;
  border: 1px solid #999;
  padding: 5px;
}

.tweet_container form textarea:focus {
  background: #f0f2f7;
}

.tweet_container form input[type=submit] {
  margin-top: 5px;
  float: right;
}

#creds-status {
    width: auto;
    border: 1px solid #bbb;
    border-collapse: collapse;
}
#creds-status th, #creds-status td {
    border: 1px solid #bbb;
    padding: 0.3em;
}
#creds-status span.no-credentials {
    color: blue;
}
#creds-status span.valid-credentials {
    color: green;
}
#creds-status span.invalid-credentials {
    color: red;
}

.checkup-form th, .checkup-form td {
    border:1px solid #999;
    font-size:0.9em;
    margin:0.1em;
    padding:0.2em;
}
.checkup-form input[type=text] {
    width:5em;
}
.checkup-form .wide-input input {
	width:15em;
}
