/* primary styles, not class/id specific */
table {
    border-collapse: collapse;
    margin: 0.5em;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix{display:block;}

a.button {
  text-decoration: none;
  background: #abd;
  color: #333;
  display: block;
  float: right;
  border: 1px solid #79a;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  padding: 5px;
  font-weight: normal;
  margin: 5px 0;
}
	
/*GENERAL SETTINGS*/

body /*add this properties for BODY to your existing one if there are not present*/
{
	background:url(/static/images/header_backgr.jpg) repeat-x;
	height:40px;
	margin:0;
	padding:0
}


/*HEADER*/
.header
{
	width:960px;
	height:40px;
	margin-left:auto;
	margin-right:auto
}

.header ul
{
	margin:0;
	padding:0;
	list-style-type:none
}


/*logo*/
.logo
{
	background:url(/static/images/logo.jpg) no-repeat;
	float:left;
	width:180px;
	height:40px
}



/* I'VE MADE THE MENUS WITH SLIDING DOOR */

/*MENUS*/
.menuLeft
{
	height:40px;
	position:relative;
	float:left
}

.menuRight /*this class is for displaying the LOGIN link*/
{
	height:40px;
	position:relative;
	float:right
}

.menuRightO /*this class is for displaying the LOGOUT link*/
{
	height:40px;
	position:relative;
	float:right
}

.menuLeft li,
.menuRight li,
.menuRightO li
{
	display:block;
	float:left;
}

.menuLeft a,
.menuRight a,
.menuRightO a
{
	background: url(/static/images/button_a.jpg) no-repeat top right;
	float:left;
	text-decoration: none;
}

.menuLeft a span,
.menuRight a span,
.menuRightO a span
{
	background: url(/static/images/button_a.jpg) no-repeat top left;
	font-family: Times New Roman;
	font-size: 16px;
	font-weight:bold;
	color:#ffffff;
	margin: 0 10px 0 -3px;
	padding: 11px 8px 5px 15px;
	position: relative; /*To fix IE6 problem (not displaying)*/
	float:left;
 	height:24px
}


.menuLeft a:hover,
.menuRight a:hover,
.menuRightO a:hover
{
	background: url(/static/images/button_h.jpg) no-repeat top right;
}

.menuLeft a:hover span,
.menuRight a:hover span,
.menuRightO a:hover span
{
	background: url(/static/images/button_h.jpg) no-repeat top left;
	color: #444444;
}

.menuLeft a.current,
.menuRight a.current,
.menuRightO a.current
{
	background: url(/static/images/button_c.jpg) no-repeat top right;
}

.menuLeft a.current span,
.menuRight a.current span,
.menuRightO a.current span
{
	background: url(/static/images/button_c.jpg) no-repeat top left;
 	color: #ffffff;
}
a.button:hover {
  text-decoration: none;
  background: #bde;
}


#mainheader, #symbolsform, #maincontent, #mainfooter {
    border-bottom: 2px solid;
    margin-bottom: 0.5em;
}

#maincontent {
    padding-top: 1em;
	padding-left: 3em;
    padding-right: 3em;
}

.message {
    color: #c00000;
}

#navlinks {
    float: right;
}

#navlinks ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navlinks ul li {
    display: inline;
    margin: 0;
    padding: 0 1em 0 0;
}

#mainlogo img {
    border: 0;
}

#symbolsform #id_symbols {
    width: 40em;
    height: 5em;
}

table.pretty {
    background-color: #f3f3f3;
}

table.pretty th, table.pretty td {
    border: 1px solid #999999;
}

.stockframe {
    border: 1px solid #c9c9c9;
    padding: auto;
    margin-bottom: 0.5em;
}

.stockframe .stocklinks {
    float: right;
    margin: 0.5em 1em 0 0;
}

table.stockdetails {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

table.stocknews {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}

table.stocknews th {
    width: 33%;
}

table.stocknews td {
    vertical-align: top;
}

table.stocknews .newsitems {
    text-align: left;
    padding-left: 20px;
}

div.comments, div.commentform {
    font-size: 0.8em;
}

div.commentform label {
    display:block;
}

#maincontent #outer_container {
  width: 560px;
}

#maincontent #aggregates_container .aggregate {
  clear: both;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#maincontent #aggregates_container .aggregate .content {
  width: 390px;
  float: right;
}

#maincontent #aggregates_container .aggregate .meta {
  float: left;
  width: 150px;
  font-size: 11px;
  margin-left: 10px;
}

#maincontent #aggregates_container .aggregate .meta .gravatar {
  margin: 0 10px 0 0;
  float: left;
  border: 1px solid #eee;
}

#maincontent #aggregates_container .aggregate .meta .age,
#maincontent #aggregates_container .aggregate .meta .author {
  width: 96px;
  margin-right: 10px;
  float: left;
}

#maincontent #aggregates_container .aggregate.highlight {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  background: #d5dae5;
  border-bottom: none;
}

#maincontent #aggregates_container .aggregate.aggregate_alert {
  background: #fee;
}

.tweet_container form textarea {
  height: 70px;
  width: 548px;
  border: 1px solid #999;
  padding: 5px;
}

.tweet_container form textarea:focus {
  background: #f0f2f7;
}

.tweet_container form input[type=submit] {
  margin-top: 5px;
  float: right;
}

#creds-status {
    width: auto;
    border: 1px solid #bbb;
    border-collapse: collapse;
}
#creds-status th, #creds-status td {
    border: 1px solid #bbb;
    padding: 0.3em;
}
#creds-status span.no-credentials {
    color: blue;
}
#creds-status span.valid-credentials {
    color: green;
}
#creds-status span.invalid-credentials {
    color: red;
}
