/* primary styles, not class/id specific */
table {
    border-collapse: collapse;
    margin: 0.5em;
}

.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
* html .clearfix{height:1%;}
.clearfix{display:inline-block;}
.clearfix{display:block;}

#mainheader, #symbolsform, #maincontent, #mainfooter {
    border-bottom: 2px solid;
    margin-bottom: 0.5em;
}

.message {
	color: #c00000;
}

#navlinks {
    float: right;
}

#navlinks ul {
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navlinks ul li {
    display: inline;
    margin: 0;
    padding: 0 1em 0 0;
}

#mainlogo img {
    border: 0;
}

#symbolsform #id_symbols {
    width: 40em;
    height: 5em;
}

table.pretty {
    background-color: #f3f3f3;
}

table.pretty th, table.pretty td {
    border: 1px solid #999999;
}

.stockframe {
    border: 1px solid #c9c9c9;
    padding: auto;
    margin-bottom: 0.5em;
}

.stockframe .stocklinks {
	float: right;
    margin: 0.5em 1em 0 0;
}

table.stockdetails {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
}

table.stocknews {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    text-align: center;
}

table.stocknews th {
    width: 33%;
}

table.stocknews td {
    vertical-align: top;
}

div.comments, div.commentform {
	font-size: 0.8em;
}

div.commentform label {
	display:block;
}

#maincontent #outer_container {
  width: 560px;
}

#maincontent #aggregates_container .aggregate {
  clear: both;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
}

#maincontent #aggregates_container .aggregate .content {
  width: 390px;
  float: right;
}

#maincontent #aggregates_container .aggregate .meta {
  float: left;
  width: 150px;
  font-size: 11px;
  margin-left: 10px;
}

#maincontent #aggregates_container .aggregate .meta .gravatar {
  margin: 0 10px 0 0;
  float: left;
  border: 1px solid #eee;
}

#maincontent #aggregates_container .aggregate .meta .age,
#maincontent #aggregates_container .aggregate .meta .author {
  width: 96px;
  margin-right: 10px;
  float: left;
}

#maincontent #aggregates_container .aggregate.highlight {
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0 0 5px 5px;
  background: #d5dae5;
  border-bottom: none;
}

#maincontent #aggregates_container .aggregate.aggregate_alert {
  background: #fee;
}

.tweet_container form textarea {
  height: 70px;
  width: 548px;
  border: 1px solid #999;
  padding: 5px;
}

.tweet_container form textarea:focus {
  background: #f0f2f7;
}
