<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}stocktidings{% endblock %}</title>
        <link rel="stylesheet" href="/static/tidings.css" type="text/css" />
        <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="mainheader">
            <a name="top"></a>
            <div id="navlinks">
                <ul>
                    {% if user.is_authenticated %}
                    <li>Hello, {{ user.username }}</li>
                    {% endif %}
                    <li><a href="/timeline/">Timeline</a></li>
                    <li><a href="mailto:support@stocktidings.com">Contact Us</a></li>
                    {% if user.is_authenticated %}
                    <li><a href="/feedback/">Feedback</a></li>
                    <li><a href="/accounts/profile/">User Profile</a></li>
                    <li><a href="/accounts/logout/">Logout</a></li>
                    {% else %}
                    <li><a href="/accounts/register/">Register</a></li>
                    <li><a href="/accounts/login/">Login</a></li>
                    {% endif %}
                </ul>
            </div>
            <div id="mainlogo">
                <a href="/"><img alt="stocktidings" title="stocktidings" src="/static/img/logo.png"></a>
            </div>
        </div>
        <div id="maincontent">
            {% block content %}{% endblock %}
        </div>
        {% comment %}
        <div id="mainfooter">
            <div style="text-align:center">&#169; 2010 stocktidings.com | All rights reserved</div>
        </div>
        {% endcomment %}
        <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-16981293-1']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
         </script>
    </body>
</html>
