<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}stocktidings{% endblock %}</title>
        <link rel="stylesheet" href="/static/tidings.css" type="text/css" />
        <script type="text/javascript" src="/static/jquery-1.4.2.min.js"></script>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
		<div class="header">
			<a name="top">
			<div class="logo"></div>
			
	<!-- 
		 I PUT THE "current" CLASS ONLY AT FIRST LINK TO DEMONSTRATE.
	     FOR DISPlAYING THE SELECTED/ACTIVE LINK PUT CLASS "current" IN ALL <a> TAGS. 
		 TREAT THE CLASS "current" PRESENT IN ALL <a> TAGS.
    -->
			
			<div class="menuLeft">
				<ul>
                    {% if user.is_authenticated %}
                    <li><a class="current" href="/"><span>news</span></a></li>
					<!--<li><a href="/checkup"><span>checkup</span></a></li>
					<li><a href="#"><span>report</span></a></li>-->
                    {% endif %}
				</ul>
			</div>

			<div class="menuRight">
			<ul>
				{% if user.is_authenticated %}
				<li><a href="/accounts/profile/"><span>settings</span></a></li>
				<li><a href="#" onclick="UserVoice.Popin.show(uservoiceOptions); return false;"><span>feedback</span></a></li>
				<li><a {% if request.path == "/" %}class="current"{%endif %} href="/accounts/logout/"><span>logout</span></a></li>
				{% else %}
                 <li><a href="/accounts/register/"><span>register</span></a></li>
                 <li><a href="/accounts/login/"><span>login</span></a></li>
                {% endif %}
			</ul>
			</div>
		</div>
			
        <div id="maincontent">
            {% block content %}{% endblock %}
        </div>
        {% comment %}
        <div id="mainfooter">
            <div style="text-align:center">&#169; 2010 stocktidings.com | All rights reserved</div>
        </div>
        {% endcomment %}
        <script type="text/javascript">
var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-16981293-1']);
_gaq.push(['_trackPageview']);

(function() {
 var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
 ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
 var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
 })();
         </script>
<script type="text/javascript">
var zenbox_params = {};
zenbox_params.tab_id = "support";
zenbox_params.tab_color = "Red";
zenbox_params.title = "stocktidings.com";
zenbox_params.text = "Is the site slow or unresponsive? Do you need help? Please fill in details below, and we'll get back to you as soon as possible.";
zenbox_params.tag = "stocktidings";
zenbox_params.url = "stockbeebiz.zendesk.com";
</script>
<style type='text/css'>@import url('//assets0.zendesk.com/external/zenbox/overlay.css');</style>
<script type='text/javascript' src='//assets0.zendesk.com/external/zenbox/overlay.js'></script>
<script type="text/javascript">
  var uservoiceOptions = {
    key: 'stocktidings',
    host: 'stocktidings.uservoice.com', 
    forum: '74637',
    lang: 'en',
    showTab: false
  };
  function _loadUserVoice() {
    var s = document.createElement('script');
    s.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.uservoice.com/javascripts/widgets/tab.js";
    document.getElementsByTagName('head')[0].appendChild(s);
  }
  _loadSuper = window.onload;
  window.onload = (typeof window.onload != 'function') ? _loadUserVoice : function() { _loadSuper(); _loadUserVoice(); };
</script>
    </body>
</html>
