<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <title>{% block title %}stocktidings{% endblock %}</title>
        {% block extrahead %}{% endblock %}
    </head>
    <body>
        <div id="mainheader">
            <div id="navlinks">
                <ul>
                    <li><a href="/about/">About</a></li>
                    <li><a href="http://twitter.com/stocktidings">Twitter</a></li>
                    <li><a href="/contact/">Contact Us</a></li>
                    <li><a href="/accounts/register/">Sign Up</a></li>
                    <li><a href="/accounts/login/">Login</a></li>
            </div>
            <h1>stocktidings</h1>
        </div>
        <div id="maincontent">
            {% block content %}{% endblock %}
        </div>
        <div id="mainfooter">
        </div>
    </body>
</html>
